@{
    Layout = "~/Views/Shared/_Headerui.cshtml";
}
<h1>Instructions</h1>
<div class="row">
    <div class="col-md-12">
        @*<marquee onmouseout="this.setAttribute('scrollamount', 6, 0);" onmouseover="this.setAttribute('scrollamount', 0, 0);" direction="left" scrollamount="6" style="padding:10px 0;cursor:pointer;background-color:#f0ad4e">
            Date is extended for apply online correction including Subject/Stream correction upto 20-12-2019 without fee of 10th & 12th class. Subject/Stream Correction Performa will be live soon. </marquee>*@
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <ul class="ullist">  
    

<li>
               <a href="/PDF/ScheduleCorrection_March23_PrimaryMiddle.pdf" target="_blank">
                    <samp>❭</samp> <span>27/09/2022</span> Revised Schedule of Correction of Primary & Middle Class, Session @PsebPrimaryMiddle.Models.MasterClass.SessionFullYear  <img src="/images/new.gif" alt="new" />
                </a>
            </li>   
          
			<li>
               <a href="/PDF/Schedule_Correction_2022-23.pdf" target="_blank">
                    <samp>❭</samp> <span>27/09/2022</span> Schedule of Corrections (5th, 8th) for Session @PsebPrimaryMiddle.Models.MasterClass.SessionFullYear <img src="/images/new.gif" alt="new" />
                </a>
            </li>
			<li>
               <a href="/PDF/Correction_Instructions_2022-23.pdf" target="_blank">
                    <samp>❭</samp> <span>27/09/2022</span> Instruction / Help for Generate & Verify Corrections.
 <img src="/images/new.gif" alt="new" />
                </a>
            </li>
          
            <li>
                <a href="/PDF/Create-Subject-Correction.pdf" class="listitm" target="_blank">
                    <samp>❭</samp> <span>27/09/2022</span> How to Create Subject Correction.
                    <img src="/images/new.gif" alt="new" />
                </a>
            </li>
            <li>
                <a href="/PDF/Verify-Subject-Correction.pdf" class="listitm" target="_blank">
                    <samp>❭</samp> <span>27/09/2022</span> How to verify Subject Correction.
                    <img src="/images/new.gif" alt="new" />
                </a>
            </li>

           
            
        </ul>
    </div>
</div>


